html {
  scroll-behavior: smooth;
}

.swiper-slide {
  width: 20rem;
  height: 15rem;
  position: relative;
}
.slider-mask {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.2s;
  width: 100%;
}
.title {
  background: linear-gradient(
    1turn,
    rgba(37, 15, 101, 0.8) 11.08%,
    hsla(0, 0%, 73%, 0) 72.19%
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8rem;
  padding: 100px 35px 28px;
  position: absolute;
  width: 100%;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 10px;
  border-radius: 2px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
